<div class="circle">
  <h3 class="mt-5"><span>A</span>bout Me</h3>
</div>
<h4 class="mt-4 mb-3">Hello! I’m Kimiya Fotovat.</h4>
<p>
  A happy wife and mom! and of course a Front-end developer who loves to learn
  more and experience new challenges. I have rich experience in most of key
  front-end technologies and skills.
</p>
<div class="row">
  <div class="col-md-6">
    <p>AGE: . . . . . 34</p>
  </div>
  <div class="col-md-6">
    <p>RESIDENCE: . . . . . SE</p>
  </div>
  <div class="col-md-6">
    <p>FREELANCE: . . . . Available</p>
  </div>
  <div class="col-md-6">
    <p>ADDRESS: . . . . . Västerås , Sweden</p>
  </div>
</div>

<h3 class="my-3"><span>F</span>un Facts</h3>
<div class="row Fun-Facts my-4 text-center">
  <div class="col-lg-3 col-sm-6">
    <i class="fas fa-music"></i>
    <p>80 Albumes Listened</p>
  </div>
  <div class="col-lg-3 col-sm-6">
    <i class="fas fa-tv text-center"></i>
    <p>150 TV-series and Movies</p>
  </div>
  <div class="col-lg-3 col-sm-6">
    <i class="fas fa-coffee text-center"></i>
    <p>1 000 Cups Of Coffee</p>
  </div>
  <div class="col-lg-3 col-sm-6">
    <i class="fas fa-flag text-center"></i>
    <p>10 Countries Visited</p>
  </div>
</div>
