<canvas class="background"></canvas>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-11 my-2 mx-auto">
        <div class="row m-0">
          <div class="col-lg-1 col-md-12">
            <app-menu></app-menu>
          </div>
          <div class="col-lg-4  left-colm border my-4">
            <app-person></app-person>
          </div>
  
          <div class="col-lg-7 right-colm my-5">
            <router-outlet></router-outlet>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>